* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* color */

:root {
    --header-footer: #F0ECE3;
    --body: #827055;
    --name: #596E79;
    --portfolio: #0F52BA; 
}

/* header styling */

.header {
    padding: 20px 36px;
    background-color: var(--header-footer);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 a {
    font-weight: bold;
    font-size: 2.5vw;
    color: var(--name);
    text-decoration: none;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    color: var(--portfolio);
}

.header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--body);
    border-bottom: 2px solid var(--body);
}

.header nav {
    margin: 17px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

/* hero section styling */

.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 200px 0;
}

.profile-img {
    margin-left: 3.5vw;
}

.profile-img img {
    border-radius: 100%;
}

.portfolio {
    margin-right: 7vw;
    font-size: 1.8vw;
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.portfolio h2 {
    background-color: var(--header-footer);
    color: var(--body);
}

/* Main Content Styling */

.content {
    width: 100%;
    margin: 0 auto;
    background-color: var(--body);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.main-sections {
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-heading {
    color: var(--header-footer);
    border-right: 3px solid var(--header-footer);
    margin: 0 50px;
    padding-right: 20px;
    font-size: .95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-article { 
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right; 
}

.section {
    width: 7.5vw;
    text-align: center;
}

.about,
.goals {
    color: var(--header-footer);
    width: 83vw;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-tin {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: url(../images/tindog.png); 
    background-size: cover;
    height: 20vw;
    width: 80vw;
    margin-bottom: 2vw;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-size: cover;
    height: 10vw;
    width: 39vw;
}

.refactor {
    background-image: url(../images/refactor.png);
    margin-right: 2vw;
}

.run-buddy {
    background-image: url(../images/run-buddy.png);
}

.tin h3 {
    color: var(--header-footer);
    width: auto;
    background-color: var(--body);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
}

.wrk h3 {
    color: var(--header-footer);
    width: auto;
    background-color: var(--body)   ;
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0;    
}
.goals {
    font-size: 1.55vw;
    display: flex;
    justify-content: left;
}

.section-article nav ul li a {
    margin: 0 160px;
    font-size: 3.55vw;
    color: var(--header-footer);
}

.section-article nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

/* Footer Section */

.footer {
    padding: 100px 30px 100px;
    background-color: var(--header-footer);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}
 .footer div {
     margin-top: .5vw;
 }
